@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Smooch+Sans:wght@100..900&display=swap');

* {
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 300;
}

:root {
  --main: #ff4500;
  --support: #008080;
  --gold: #ffd700;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
}

.logo {
  font-family: 'Amatic SC', sans-serif !important;
}

.bg-main {
  background-color: #ff4500;
}
.text-main {
  color: #ff4500;
}
.bg-support {
  background-color: #008080;
}
.text-support {
  color: #008080;
}
